Source: ostdlabs-monitor-${customer}-api
Section: misc
Priority: extra
Maintainer: Ildar Shigapov <eca@ostdlabs.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~)

Package: ostdlabs-monitor-${customer}-api
Architecture: all
Description: monitoring services  for etracker ${customer} project
